<h2>Staffs</h2>

<div id="staff-index-page">

  <div class="header-container">
    <%= link_to 'New Staff', new_staff_path, class: "btn btn-primary", class: "btn btn-primary" %>
  </div>

  <div id="staff-index-block" class="shadow-sm p-3 mb-5 rounded">

    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th scope="col">Staff ID</th>
          <th scope="col">Email</th>
          <th scope="col">Name</th>
          <th scope="col">Phone Number</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @staffs.each do |staff| %>
          <tr>
            <td><%= staff.id %></td>
            <td><%= staff.email %></td>
            <td><%= "#{staff.first_name} #{staff.last_name}" %></td>
            <td><%= staff.phone_number %></td>

            <td>
              <% if staff.admin? %>
                Admin Account
              <% else %>
                <%= link_to 'Reset Password', staff_reset_password_path(id: staff.id), data: { confirm: 'Are you sure to reset password?' }, class: "btn btn-danger btn-sm" %>
                <%= link_to 'Delete', staff, method: :delete, data: { confirm: 'Are you sure to delete this staff?' }, class: "btn btn-outline-danger btn-sm" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>