<h2>Edit <%= resource_name.to_s.humanize %></h2>

<div id="profile-edit-page">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field multi-line-form">
      <%= f.label :password %><br />

      <div class="stack-fields">
        <%= f.password_field :password, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <br />
          <i>(leave blank if you don't want to change it)</i> <br/>
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="field multi-line-form">
      <%= f.label :current_password %>

      <div class="stack-fields">
        <%= f.password_field :current_password, autocomplete: "current-password" %>
        <i>(we need your current password to confirm your changes)</i> <br/>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Update", class: "btn btn-primary" %>
    </div>
  <% end %>

</div>
