

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="form-template">
    <h2>Sign up</h2>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email" %>
    </div>

    <div class="field">
      <% if @minimum_password_length %>
      <%= f.password_field :password, autocomplete: "new-password", placeholder:"Password (#{@minimum_password_length} character minimum)" %>
      <% else %>
      <%= f.password_field :password, autocomplete: "new-password", placeholder:"Password" %>
      <% end %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"Password Confirmation"%>
    </div>
    <div class="form-template-button-container">
      <div class="actions">
        <%= f.submit "Sign up", class: "btn btn-primary" %>
      </div>
      <div class="form-template-links">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  <div>
<% end %>


