<%= form_with(model: partner, local: true) do |form| %>
  <% if partner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(partner.errors.count, "error") %> prohibited this partner from being saved:</h2>

      <ul>
      <% partner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :partner_name %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, Category.order(:id), :id, :name, :include_blank => "Please select" %>
  </div>

  <div class="field">
    <%= form.label :area_id %>
    <%= form.collection_select :area_id, Area.order(:id), :id, :name, :include_blank => "Please select" %>
  </div>

  <%= yield :image_uploader %>

  <div class="actions">
    <%= form.submit 'Submit', class: "btn btn-primary" %>

    <% if !@new_page.present? %>
      <%= link_to 'Detail', @partner, class: "btn btn-secondary" %>
    <% end %>
  </div>
<% end %>
