<div id="partner-index-page">

  <div class="header-container">
    <h2 class="display-5">Partners</h2>
    <%= link_to 'New Partner', new_partner_path, class: "btn btn-primary" %>
  </div>

  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Area</th>
        <th scope="col">Logo</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @partners.each do |partner| %>
        <tr>
          <td><%= partner.id %></td>
          <td><%= partner.name %></td>
          <td><%= partner.category.try(:name) || "N/A" %></td>
          <td><%= partner.area.try(:name) || "N/A" %></td>
          <td>
            <% if partner.logo_url.present? %>
              <%= image_tag( partner.logo_url, class: "logo_picture") %>
            <% else %>
              Not Available
            <% end %>
          </td>
          <td>
            <%= link_to 'Detail', partner, class: "btn btn-outline-info btn-sm" %>
            <%= link_to 'Edit', edit_partner_path(partner), class: "btn btn-outline-primary btn-sm" %>
            <button type="button" class="btn btn-outline-danger btn-sm" data-target="#deletion-confirmation-<%= partner.id %>" data-toggle="modal">Delete</button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%# Deletion confirmation dialog %>
  <% @partners.each do |partner| %>
    <div class="modal fade" tabindex="-1" role="dialog" id="deletion-confirmation-<%= partner.id %>">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Delete Partner</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Please enter your password to confirm deletion of <b><%= partner.name %></b></p>
            <input type="password" class="form-control" placeholder="Password" name="<%= partner.id %>">
            <p id="deletion-message-<%= partner.id %>"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger partner-deletion-button" name="<%= partner.id %>">Delete</button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<br>

<script>
  $("input[type='password']").keypress(function(evt){
    
    var keycode = (evt.keyCode ? evt.keyCode : evt.which);
    if(keycode == '13'){
      const partnerID = evt.target.name;
      $(`button[name='${partnerID}']`).click();
    }
  });

  $(".partner-deletion-button").click((evt) => {
    const partnerID = evt.target.name;
    const adminPassword = $(`input[type='password'][name='${partnerID}']`).val();

    $.ajax({
      type: "DELETE",
      beforeSend: xhr => {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
      url: `/partners/${partnerID}`,
      data: { password: adminPassword },
      success: () => {
        $(`#deletion-message-${partnerID}`).attr("class","deletion-button success");
        $(`#deletion-message-${partnerID}`).text("Deletion success. Refreshing partner page ...");
        setTimeout(function() {
          location.reload();
        }, 500);
      },
      error: () => { 
        $(`#deletion-message-${partnerID}`).attr("class","deletion-button failure");
        $(`#deletion-message-${partnerID}`).text("Password is incorrect");
      }
    });
    
  });
</script>
