<%= javascript_pack_tag 'image-uploader' %>

<h1>New Partner</h1>

<% content_for :image_uploader do %>
  <hr>
  <div class="logo-uploader-container">
    <h4>Logo</h4>

    <%= content_tag :div,
      id: "image-uploader",
      data: {
        pre_sign_url: @url,
        file_key: @file_key,
        form_name: "logo_key",
        class_name: "partner"
      }.to_json do %>
    <% end %>
  </div>
  <hr>
<% end %>

<%= render 'form', partner: @partner %>
