<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%= stylesheet_link_tag 'search' %>
<%= javascript_pack_tag 'search' %>

<%= content_tag :div,
  id: "partner-search",
  class: "row",
  data: {
    partner: @partner
  }.to_json do %>
<% end %>