<div id="partner-show-block">

  <h2>Partner Detail: #<%= @partner.id%> </h2>

  <div id="partner-info">
    <div class="row">
      <div class="col-4">
        <strong>Name:</strong>
      </div>
      <div class="col-8">
        <%= @partner.name %>
      </div>
    </div class="row">

    <div class="row">
      <div class="col-4">
        <strong>Category:</strong>
      </div>
      <div class="col-8">
        <%= @partner.category.try(:name) || "N/A" %>
      </div>
    </div class="row">

    <div class="row">
      <div class="col-4">
        <strong>Area:</strong>
      </div>
      <div class="col-8">
        <%= @partner.area.try(:name) || "N/A" %>
      </div>
    </div class="row">

    <div class="row">
      <div class="col-4">
        <strong>Logo:</strong>
      </div>
      <div class="col-8">
        <% if @partner.logo_url.present? %>
          <%= image_tag( @partner.logo_url, class: "logo_picture") %>
        <% else %>
          Not Available
        <% end %>
      </div>
    </div class="row">

    <%= link_to 'Edit', edit_partner_path(@partner), class: "btn btn-outline-primary" %>
  </div>

  <div class="info-block">
    <h3>Discount Rates</h3>

    <table class="table table-hover">
      <tr>
        <th>Card Type</th>
        <th>Discount Rate</th>
        <th colspan="3"></th>
      </tr>

      <% @card_types.each do |card_type| %>
        <% if @partner.has_discount_rate_of_card_type? card_type.id %>
          <tr>
            <td>
              <%= card_type.type_name %>
            </td>
            <td>
              <%= @partner.discount_rate_of_card_type(card_type.id).discount_rate*100 %>%
            </td>
            <td>
              <%= link_to 'Edit', edit_discount_rate_path(@partner.discount_rate_of_card_type(card_type.id)), class: "btn btn-sm btn-outline-primary" %>
              <%= link_to 'Reset', @partner.discount_rate_of_card_type(card_type.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-outline-danger" %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>

  <div class="info-block">
    <h3>Login Credential</h3>

  <% if !@partner.staff.nil? %>
    <table class="table table-hover">
      <tr>
        <th>Email</th>
        <th colspan="3"></th>
      </tr>

      <tr>
        <td><%= @partner.staff.email %></td>
        <td><%= link_to 'Reset password', reset_password_path(id: @partner.id), data: { confirm: 'Are you sure to reset their password?' }, class: "btn btn-primary" %></td>
      </tr>
    </table>
  <% else %>
    <%= link_to 'Generate login credential', new_credential_for_partner_path(id: @partner.id), class: "btn btn-primary big-button" %>
  <% end %>

  </div>
</div>