<%= form_with(model: visit, local: true) do |form| %>
  <% if visit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(visit.errors.count, "error") %> prohibited this visit from being saved:</h2>

      <ul>
      <% visit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :partner_id %>
    <%= form.collection_select :partner_id, Partner.order(:name),:id,:name %>
  </div>

  <div class="field">
    <%= form.label :member_id %>
    <%= form.collection_select :member_id, Member.order(:id),:id, :first_name %>
  </div>

  <div class="field discount-rate">
    <%= form.label :discount_rate %>
    <%= form.number_field :discount_rate, step: 0.1, id: :visit_discount_rate %>%
  </div>

  <div class="field multi-select-form">
    <%= form.label :visit_date %>
    <%= form.date_select :visit_date, id: :visit_visit_date %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit', class: "btn btn-primary" %>
  </div>
<% end %>
