<%= javascript_pack_tag 'overall_statistic' %>
<%= javascript_pack_tag 'partner-search' %>

<h1>Visits</h1>

<%# Partner search Section %>
<%
  all_partner_array = 
    Partner.all.map {
      |partner| 
      {
        label: partner.name,
        value: partner.id,
      }
    }
%>
<div class="container">
  <%= content_tag :div,
    id: "partner-search-container",
    data: {
      all_partner: all_partner_array.to_json
    }.to_json do %>
  <% end %>
</div>

<%# Static Section %>
<%
  visit_data_array = 
    @visits.map {
      |visit|
      {
        partner_name: visit.partner.name,
        partner_category: visit.partner.category.try(:name) || "N/A",
        partner_id: visit.partner.id,
        member_name: visit.member.first_name + " " + visit.member.last_name,
        member_id: visit.member.id,
        date: visit.visit_date
      }
    }
%>
<div class="chart-container">
  <%= content_tag :div,
    id: "static-data",
    data: {
      partner_specific: @is_partner_specific_page,
      visit_data: visit_data_array.to_json
    }.to_json do %>
  <% end %>
</div>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th scope="col">Member Name</th>
      <th scope="col">Partner Name</th>
      <th scope="col">Discount rate</th>
      <th scope="col">Visit date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @paginated_visits.each do |visit| %>
      <tr>
        <td><%= visit.member.first_name %></td>
        <td><%= visit.partner.name %></td>
        <td><%= (visit.discount_rate.to_f*100).round(2) %>%</td>
        <td><%= visit.visit_date.strftime("%Y-%m-%d") %></td>
        <td>
          <%= link_to 'Edit', edit_visit_path(visit), class: "btn btn-outline-primary btn-sm" %>
          <%= link_to 'Delete', visit, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<span id="pagination-container">
  <%= will_paginate @paginated_visits %>
</span>