<p>
  <strong>Partner:</strong>
  <%= @visit.partner.name %>
</p>

<p>
  <strong>Member:</strong>
  <% member = @visit.member %>
  <%= "##{member.id} #{member.first_name} #{member.last_name}" %>
</p>

<p>
  <strong>Discount Rate:</strong>
  <%= @visit.discount_rate*100.round(2) %>%
</p>

<p>
  <strong>Visit date:</strong>
  <%= @visit.visit_date %>
</p>

<%= link_to 'Edit', edit_visit_path(@visit) %> |
<%= link_to 'Back', visits_path %>
