

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="form-template">
    <h2>Forgot your password?</h2>
    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email" %>
    </div>
    <div class="form-template-button-container">
      <div class="actions">
        <%= f.submit "Send me reset password instructions", class: "btn btn-primary" %>
      </div>
      <div class="form-template-password-links">
          <%= render "devise/shared/links" %>
        </div>
    </div>
  </div>
<% end %>

