<h1>Areas</h1>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% Area.all.each do |area| %>
      <tr>
        <td><%= area.name %></td>
        <td>
          <%= link_to 'Edit', edit_area_path(area), class: "btn btn-outline-primary btn-sm" %>
          <%= link_to 'Delete', area, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Area', new_area_path, class: "btn btn-primary" %>
