
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="login-form">
    <img class="login-img" src="https://i.imgur.com/hvw0HMu.png"></img>

    
      <%= f.email_field :email, class: "login-input", autofocus: true, autocomplete: "email", placeholder: "Email" %>
    
      <%= f.password_field :password, class: "login-input", autocomplete: "current-password", placeholder: "Password" %>

      <% if devise_mapping.rememberable? %>
      <div class="login-remember">
          <%= f.check_box :remember_me %>  
          <%= f.label :remember_me %>     
      </div>
    <% end %>

      <%= f.submit "Log in", class: "login-button" %>


            
     
      



  </div>
<% end %>


