<%= form_with(model: card_type, local: true) do |form| %>
  <% if card_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card_type.errors.count, "error") %> prohibited this card_type from being saved:</h2>

      <ul>
      <% card_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type_name %>
    <%= form.text_field :type_name, id: :card_type_type_name %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit', class: "btn btn-primary" %>
  </div>
<% end %>
