<h1>Card Types</h1>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Type name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% CardType.all.order("id ASC").each do |card_type| %>
      <tr>
        <td><%= card_type.type_name %></td>
        <td>
          <%= link_to 'Edit', edit_card_type_path(card_type), class: "btn btn-outline-primary btn-sm" %>
          <%= link_to 'Delete', card_type, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Card Type', new_card_type_path, class: "btn btn-primary" %>
