#profile-edit-page {
  .multi-line-form {
    align-items: unset;

    label {
      padding-top: 0.5em;
    }
    .stack-fields {
      width: 54%;
      flex-direction: column !important;
    }
  }
}
