// Place all the styles related to the Members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#member-index-block {
  margin-top: 1em;
  overflow-y: auto;

  table {
    width: 100%;
  }

  #pagination-container {
    width: 100%;
    display: flex;
    justify-content: center;

    .pagination {
      a,
      em {
        margin: 0 0.2em;
      }

      .previous_page {
        margin-right: 1em;
      }
      .next_page {
        margin-left: 1em;
      }
    }
  }

  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.2em;
    padding: 0 2em;
  }
}

#member-info {
  margin: 1em 1.5em;
  display: flex;
  flex-direction: column;
  flex-direction: column;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  padding: 1.5em;
  background-color: white;

  .row {
    width: 60%;
    margin: 0.5em 0;
  }

  .btn {
    margin-top: 1em;
  }

  .profile_picture {
    max-height: 15em;
    width: auto;
    max-width: 100%;
  }
}

#member-show-block {
  .info-block {
    margin-top: 2em;
  }
}
