// Place all the styles related to the Partners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#partner-show-block {
  .info-block {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
  }

  .big-button {
    margin-top: 1em;
    margin: auto;
    width: 85%;
  }

  .logo_picture {
    max-height: 15em;
    width: auto;
    max-width: 100%;
  }
}

#partner-info {
  margin: 1em 1.5em;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  padding: 1.5em;
  background-color: white;

  .row {
    width: 60%;
    margin: 0.5em;
  }

  .btn {
    margin-top: 1em;
  }
}

#partner-index-page {
  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1em;

    .btn {
      height: fit-content;
    }
  }

  .logo_picture {
    max-width: 10em;
    height: auto;
  }

  .modal {
    input[type="password"]:focus {
      border-color: red;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px red;
    }

    .deletion-button {
      margin-top: 1em;
      margin-bottom: 0;
      &.success,
      &.failure {
        padding-left: 1em;
        padding-top: 0.5em;
        padding-right: 0.5em;
        padding-bottom: 0.5em;
        border-radius: 0.3em;
      }
      &.success {
        background-color: #deffde;
      }
      &.failure {
        background-color: lightcoral;
        color: #232323;
      }
    }
  }
}
