body {
  background-color: #f8f9fac7 !important;
  color: #333;
  margin: 33px;

  font-size: 13px;
  line-height: 18px;

  .container {
    padding-top: 1.5em;
    padding-bottom: 2em;
  }
}

p,
ol,
ul,
td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

th {
  padding-bottom: 5px;
}

.table {
  text-align: center;
  background-color: white !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);

  td {
    padding: 0 5px 7px;
    vertical-align: middle !important;
  }
}

div {
  &.field,
  &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.reminder-text {
  width: 48em;
  margin-top: 1em;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.field_with_errors {
  padding: 2px;
  background-color: #ffa9a9;
  display: table;
  border-radius: 0.2em;
}

#error_explanation {
  width: 100%;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  border-radius: 0.2em;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

// Nav bar
nav {
  background-color: white;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);

  .selected {
    font-weight: bold;
  }

  .icon-image {
    width: auto;
    height: 1.5em;
    margin: 0 0.5em;
  }

  .navbar-nav {
    flex-direction: row;
    flex-grow: 1;

    .nav-item {
      margin: 0 0.5em;
    }
  }

  .staff-link {
    color: #7d7d7e !important;
  }
}

// Global search dropdown styling
#partner-search-container,
#member-search-container {
  input {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:focus {
      color: #495057;
      background-color: #fff;
      border-color: #80bdff;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
  }

  .search-dropdown-items {
    padding: 0.2em 1em;
  }
}

// Global form styling

form {
  margin: auto;
  width: 40em;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  padding: 1.5em;

  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;

    input[type="submit"] {
      margin-left: 2em;
    }
  }

  .file-uploader-container {
    justify-content: space-between;
    display: flex;
    margin-top: 1.5em;
    padding: 0 1em;
  }

  .field {
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.discount-rate {
      justify-content: unset;

      label {
        width: 50%;
      }

      input {
        margin-right: 1em;
        flex-grow: 1;
      }
    }

    &.multi-select-form {
      label {
        width: 40%;
      }
      select {
        width: 5em !important;
        flex-shrink: 1;
      }
    }

    &.check-box-form {
      input[type="checkbox"] {
        border-color: white;
        box-shadow: unset;
      }
    }

    label {
      padding-left: 2em;
      width: 10em;
    }

    select {
      width: 20em;
    }

    input {
      width: 20em;
      height: calc(1.5em + 0.75rem + 2px);
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    input:focus {
      color: #495057;
      background-color: #fff;
      border-color: #80bdff;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
  }

  .profile_picture,
  .logo_picture {
    width: auto;
    margin: auto;
    max-height: 10em;
  }
}

.new-staff-form {
  background-color: white;
  padding-left: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center !important;

  .login-img {
    width: 30em;
    margin: auto;
    margin-bottom: 2em;
  }
  .new-staff-form-login {
    display: flex;
    flex-direction: row;

    .actions {
      margin-top: 0em;

      input[type="submit"] {
        margin-left: 0em;
      }
    }
  }

  .new-staff-form-links {
    margin-left: 10em;
  }

  .new-staff-form-remember {
    margin-left: 1em;
    margin-top: 0.5em;
  }

  h2 {
    margin-bottom: 0.5em;
  }

  .field {
    input[type="checkbox"] {
      width: 1em;
    }
    input {
      width: 20em;
    }
  }
}

.new_staff {
  background-color: white;
}

.form-template {
  margin-left: 2em;

  .actions {
    margin-top: 0em;

    input[type="submit"] {
      margin-left: 0em;
    }
  }
  h2 {
    margin-bottom: 0.5em;
  }

  .form-template-button-container {
    display: flex;
    flex-direction: row;
  }

  .form-template-links {
    margin-left: 2em;
    margin-top: 0.5em;
  }

  .form-template-password-links {
    margin-left: 10em;
  }
}
@media screen and (min-width: 769px) {
  .new-staff {
    form {
      width: 40em;
    }
  }
  .login-form {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .login-img {
      width: 30em;
      margin: auto;
      margin-bottom: 1em;
    }

    .login-input {
      width: 20em;
      margin: auto;
      margin-top: 0.5em;
      margin-bottom: 0.5em;

      border: 0;
      outline: 0;
      background: transparent;
      border-bottom: 1px solid rgb(148, 148, 148);
    }

    .login-button {
      margin: auto;
      opacity: 0.5;
      background-color: rgb(27, 126, 255);
      margin-top: 1em;
      border-radius: 25px;
      border: none;
      color: white;
      padding: 10px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }

    .login-remember {
      margin: auto;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
  }
}

@media screen and (max-width: 768px) {
  form {
    max-width: 95%;
  }

  .login-form {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .login-img {
      width: 18em;
      margin: auto;
      margin-bottom: 1em;
    }

    .login-input {
      width: 20em;
      margin: auto;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      max-width: 95%;

      border: 0;
      outline: 0;
      background: transparent;
      border-bottom: 1px solid rgb(148, 148, 148);
    }

    .login-button {
      margin: auto;
      opacity: 0.5;
      background-color: rgb(27, 126, 255);
      margin-top: 1em;
      border-radius: 25px;
      border: none;
      color: white;
      padding: 10px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin-top: 0em;
    }

    .login-remember {
      margin: auto;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
  }
}
