#partner-search {
  display: flex;
  align-items: center;

  flex-direction: column;
  min-height: 10em;
  justify-content: center;

  input {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .search-input {
    display: flex;
  }
}

.partner-search-container {
  .logo-container {
    width: 100%;
    justify-content: center;
    display: flex;

    img {
      max-height: 10em;
      width: auto;
      max-width: 100%;
    }
  }
  .search-input {
    display: flex;
    flex-direction: column;
  }

  .search-button {
    margin: auto;
    opacity: 0.5;
    background-color: rgb(27, 126, 255);
    margin-top: 1em;
    border-radius: 25px;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .search-input-id {
    width: 80%;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 0.5em;
    max-width: 95%;
    opacity: 0.5;
    color: rgb(148, 148, 148);

    border: 0 !important;
    outline: 0;
    background: transparent !important;
    border-bottom: 1px solid rgb(148, 148, 148) !important;
  }

  .search-profile-pic {
    width: 10em;
    border-radius: 50em;
    margin: auto;
    margin-bottom: 1em;
  }

  .search-error {
    display: flex;
    flex-direction: column;
    justify-content: center;

    #search-result-error {
      font-size: 2em;
      margin: auto;
      margin-top: 1.3em;
      margin-bottom: 1em;
    }
  }
  .search-success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 2em;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    border-radius: 25px;

    p {
      text-align: center;
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }

    #search-result-discount {
      font-size: 1.1em;
      margin-top: 0.5em;
    }

    #search-result-name {
      font-size: 1.1em;
    }
  }

  #partner-info {
    margin: 1em 1.5em;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    padding: 1.5em;
    background-color: white;
    opacity: 0.5;
    color: black;
    border-radius: 25px;

    .row {
      width: 60%;
      margin: 0.5em;
    }

    .btn {
      margin-top: 1em;
    }

    .search-result-p {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      text-align: center;
    }
  }
}
