// Place all the styles related to the Visits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.operation-buttons {
  display: flex;
}

#static-data {
  display: flex;
  justify-content: center;
  align-items: center;

  #chart-component {
    width: 80%;
    margin: auto;
    margin-bottom: 2em;
    #chart {
      max-width: 50em;
    }
  }
}

#pagination-container {
  width: 100%;
  display: flex;
  justify-content: center;

  .pagination {
    a,
    em {
      margin: 0 0.2em;
    }

    .previous_page {
      margin-right: 1em;
    }
    .next_page {
      margin-left: 1em;
    }
  }
}

#search-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  span {
    margin-right: 0.5em;
  }
}

.chart-container {
  padding-top: 2em;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  background-color: white;
  margin-bottom: 2em;
}
