<%= form_with(model: discount_rate, local: true) do |form| %>
  <% if discount_rate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(discount_rate.errors.count, "error") %> prohibited this discount_rate from being saved:</h2>

      <ul>
      <% discount_rate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :partner_id %>
    <%= form.collection_select :partner_id, Partner.order(:name),:id,:name %>
  </div>

  <div class="field">
    <%= form.label :card_type_id %>
    <%= form.collection_select :card_type_id, CardType.order(:id),:id,:type_name%>
  </div>

  <div class="field discount-rate">
    <%= form.label :discount_rate %>
    <%= form.number_field :discount_rate, step: 0.1, id: :discount_rate_discount_rate %>%
  </div>

  <div class="actions">
    <%= form.submit'Submit', class: "btn btn-primary" %>
  </div>
<% end %>
