<h1>Discount Rates</h1>

<table>
  <thead>
    <tr>
      <th>Discount rate</th>
      <th>Card Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @discount_rates.each do |discount_rate| %>
      <tr>
        <td><%= discount_rate.discount_rate %></td>
        <td><%= discount_rate.card_type.type_name %></td>
        <td><%= link_to 'Show', discount_rate %></td>
        <td><%= link_to 'Edit', edit_discount_rate_path(discount_rate) %></td>
        <td><%= link_to 'Delete', discount_rate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Discount Rate', new_discount_rate_path, class: "btn btn-primary" %>
