<p>
  <strong>Partner name:</strong>
  <%= @discount_rate.partner.name %>
</p>

<p>
  <strong>Discount rate:</strong>
  <%= @discount_rate.discount_rate %>
</p>

<%= link_to 'Edit', edit_discount_rate_path(@discount_rate) %>
