<% if Rails.env.production? %>
  <script src="https://cdn.lr-ingest.io/LogRocket.min.js" crossorigin="anonymous"></script>
  <%= javascript_pack_tag 'log-rocket', defer: true %>
<% end %>

<%
  session_staff = {id: "", name: "", email: ""}

  if @current_staff.present?
    if @current_staff.partner.present?
      partner = @current_staff.partner
      session_staff[:id] = @current_staff.id
      session_staff[:name] = partner.name
      session_staff[:email] = @current_staff.email
    else
      session_staff[:id] = @current_staff.id
      session_staff[:name] = 'Staff'
      session_staff[:email] = @current_staff.email
    end
  else
    session_staff[:id] = session.id || 'Unknown'
    session_staff[:name] = 'Unknown'
    session_staff[:email] = 'info@explorator.ca'
  end
%>

<span 
  id="session-info" 
  data-member-id="<%= session_staff[:id] %>" 
  data-member-name="<%= session_staff[:name] %>"
  data-member-email="<%= session_staff[:email] %>" 
>
</span>

<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <% if Rails.env.production? %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145434846-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-145434846-1');
      </script>
    <% end %>

    <title>常春藤会员系统</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>
  <div class="desktop-nav">
    <nav class="nav navbar navbar-light">

      <%# Logo %>
      <a class="navbar-brand" href="/">
        <img src="<%= asset_path('small_logo.png') %>" class="d-inline-block align-top icon-image" alt="">
        常春藤会员系统
      </a>

      <% if staff_signed_in? %>
        <div class="navbar-nav">
          <% if current_staff.management_staff? || current_staff.admin? %>
            <a href="/partners" class="nav-item nav-link <%= 'active' if controller.controller_name == 'partners' %>">Partners</a>
            <a href="/members" class="nav-item nav-link <%= 'active' if controller.controller_name == 'members' %>">Members</a>
            <a href="/categories" class="nav-item nav-link <%= 'active' if controller.controller_name == 'categories' %>">Categories</a>
            <a href="/areas" class="nav-item nav-link <%= 'active' if controller.controller_name == 'areas' %>">Areas</a>
          <% end %>
          <% if current_staff.admin? %>
            <a href="/staffs" class="nav-item nav-link <%= 'active' if controller.controller_name == 'staffs' %>">Staffs</a>
            <a href="/visits" class="nav-item nav-link <%= 'active' if controller.controller_name == 'visits' %>">Visits</a>
            <a href="/card_types" class="nav-item nav-link <%= 'active' if controller.controller_name == 'card_types' %>">Cards</a>
          <% end %>  
        </div>

        <div class="staff-options nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_staff.email %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to 'Edit profile', edit_staff_registration_path, :class => 'dropdown-item staff-link' %>
            <%= link_to "Logout", destroy_staff_session_path, method: :delete, :class => 'dropdown-item staff-link'  %>
          </div>
        </div>
      <% end %>
    </nav>
  </div>
  <div class="mobile-nav">
  <nav class="nav navbar navbar-light">

    <%# Logo %>
    <a class="navbar-brand" href="/">
      <img src="<%= asset_path('small_logo.png') %>" class="d-inline-block align-top icon-image" alt="">
      ICMS
    </a>
    <% if staff_signed_in? %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <% end %>


    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

    <% if staff_signed_in? %>
      <div class="navbar-nav">
       
          <div class="mobile-nav-links">
          <% if current_staff.admin? %>
          <a href="/partners" class="nav-item nav-link <%= 'active' if controller.controller_name == 'partners' %>">Partners</a>
          <a href="/visits" class="nav-item nav-link <%= 'active' if controller.controller_name == 'visits' %>">Visits</a>
          <a href="/members" class="nav-item nav-link <%= 'active' if controller.controller_name == 'members' %>">Members</a>
          <a href="/card_types" class="nav-item nav-link <%= 'active' if controller.controller_name == 'card_types' %>">Cards</a>
          <% end %> 
          <%= link_to 'Edit profile', edit_staff_registration_path, :class => 'nav-item nav-link' %>
          <%= link_to "Logout", destroy_staff_session_path, method: :delete, :class => 'nav-item nav-link'  %>
          </div>
         
      </div>
    <% end %>

    </div>
  </nav>
  </div>

    <div class="container">  
      <% if notice.present? %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert.present? %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      
      <%= yield %>
    </div>
  </body>
</html>
