<%= form_with(model: member, local: true) do |form| %>
  <% if member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :member_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :member_last_name %>
  </div>

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number, id: :member_phone_number %>
  </div>

  <div class="field">
    <%= form.label :email_address %>
    <%= form.text_field :email_address, id: :member_email_address %>
  </div>

  <div class="field">
    <%= form.label :physical_address %>
    <%= form.text_field :physical_address, id: :member_physical_address %>
  </div>

  <div class="field multi-select-form">
    <%= form.label :date_of_birth %>
    <%= form.date_select :date_of_birth, id: :member_date_of_birth, start_year: 1900 %>
  </div>

  <div class="field">
    <%= form.label :job_title %>
    <%= form.text_field :job_title, id: :member_job_title %>
  </div>

  <div class="field">
    <%= form.label :card_type_id %>
    <%= form.collection_select :card_type_id, CardType.order(:id),:id, :type_name %>
  </div>

  <div class="field check-box-form">
    <%= form.label :never_expire %>
    <%= form.check_box :never_expire, id: :member_never_expire %>
  </div>

  <% if @expiration_range_selection_form == true %>
    <div class="field multi-select-form expiration_date_select">
      <%= form.label :expiration_date %>
      <%= select_tag(:expiration_range, options_for_select(
        [
          ['1 Year', 1],
          ['2 Year', 2],
          ['3 Year', 3]
        ], 3
      )) %>
    </div>
  <% else %>
    <div class="field multi-select-form expiration_date_select">
      <%= form.label :expiration_date %>
      <%= form.date_select :expiration_date, id: :member_expiration_date %>
    </div>
  <% end %>

  <div class="field check-box-form">
    <%= form.label :card_number %>
    <%= form.text_field :card_number, id: :member_card_number %>
  </div>

  <%= yield :image_uploader %>

  <div class="actions">
    <%= form.submit 'Submit', class: "btn btn-primary" %>

    <% if !@new_page.present? %>
      <%= link_to 'Detail', @member, class: "btn btn-secondary" %>
    <% end %>
  </div>
<% end %>
