<%= javascript_pack_tag 'image-uploader' %>
<%= javascript_pack_tag 'expiration-date-disabler' %>

<h1>Editing Member</h1>

<% content_for :image_uploader do %>
  <hr>
  <div class="profile-uploader-container">
    <h4>Profile Picture</h4>
    <% if @member.profile_picture_url.present? %>
      <%= image_tag( @member.profile_picture_url, class: "profile_picture row") %>
    <% end %>
    
    <%= content_tag :div,
      id: "image-uploader",
      data: {
        pre_sign_url: @url,
        file_key: @file_key,
        form_name: "profile_picture_key",
        class_name: "member"
      }.to_json do %>
    <% end %>
  </div>
  <hr>
<% end %>

<%= render 'form', member: @member %>

<p class="reminder-text">
  Reminder: <br/><br/>

  To update Member profile picture, please upload the file with <b>Upload</b> button before submitting.
</p>