<%= javascript_pack_tag 'member-search' %>

<h2 class="">Members</h2>

<div id="member-index-block" class="shadow-sm p-3 mb-5 rounded">

  <%# Partner search Section %>
  <%
    all_member_array = 
      Member.all.map {
        |member| 
        {
          name: "#{member.first_name} #{member.last_name}",
          card_number: member.card_number,
          value: member.id,
        }
      }
  %>
  <div class="header-container">
    <%= link_to 'New Member', new_member_path, class: "btn btn-primary", class: "btn btn-primary" %>

    <%= content_tag :div,
      id: "member-search-container",
      data: {
        all_members: all_member_array.to_json
      }.to_json do %>
    <% end %>
  </div>

  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">Member ID</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @members.each do |member| %>
        <tr>
          <td><%= member.id %></td>
          <td><%= member.first_name %></td>
          <td><%= member.last_name %></td>
          <td>
            <%= link_to 'Detail', member, class: "btn btn-outline-info btn-sm" %>
            <%= link_to 'Edit', edit_member_path(member), class: "btn btn-outline-primary btn-sm" %>
            <%= link_to 'Delete', member, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <span id="pagination-container">
    <%= will_paginate @members %>
  </span>
</div>

<br>