<%= javascript_pack_tag 'image-uploader' %>
<h1>New Member</h1>

<% content_for :image_uploader do %>
  <hr>
  <div class="profile-uploader-container">
    <h4>Profile Picture</h4>

    <%= content_tag :div,
      id: "image-uploader",
      data: {
        pre_sign_url: @url,
        file_key: @file_key,
        form_name: "profile_picture_key",
        class_name: "member"
      }.to_json do %>
    <% end %>
  </div>
  <hr>
<% end %>

<%= render 'form', member: @member %>

<p class="reminder-text">
  Reminder: <br/><br/>

  To update Member profile picture, please upload the file with <b>Upload</b> button before submitting.
</p>