<div id="member-show-block">
  <h2>Member Detail: #<%= @member.id%> </h2>

  <div id="member-info">
  
    <div class="row">
      <div class="col-4">
        <strong>Profile picture:</strong>
      </div>
      <div class="col-8">
        <% if @member.profile_picture_url.present? %>
          <%= image_tag( @member.profile_picture_url, class: "profile_picture") %>
        <% else %>
          Not Available
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <strong>First name:</strong>
      </div>
      <div class="col-8">
        <%= @member.first_name %>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <strong>Last name:</strong>
      </div>
      <div class="col-8">
        <%= @member.last_name %>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <strong>Phone number:</strong>
      </div>
      <div class="col-8">
        <%= @member.phone_number %>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <strong>Email address:</strong>
      </div>
      <div class="col-8">
        <%= @member.email_address %>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <strong>Physical address:</strong>
      </div>
      <div class="col-8">
        <%= @member.physical_address %>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <strong>Date of birth:</strong>
      </div>
      <div class="col-8">
        <%= @member.date_of_birth %>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <strong>Job title:</strong>
      </div>
      <div class="col-8">
        <%= @member.job_title %>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <strong>Card type:</strong>
      </div>
      <div class="col-8">
        <%= @member.card_type.type_name %>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <strong>Expiration Date:</strong>
      </div>
      <div class="col-8">
        <% if @member.expiration_date %>
          <%= @member.expiration_date %>
        <% else %>
          Not Available
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <strong>Card Number:</strong>
      </div>
      <div class="col-8">
        <% if @member.card_number %>
          <%= @member.card_number %>
        <% else %>
          Not Available
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <strong>Register By:</strong>
      </div>
      <div class="col-8">
        <% if @member.register_by.present? %>
          <%= @member.register_by %>
        <% else %>
          Not Available
        <% end %>
      </div>
    </div>

    <%= link_to 'Edit', edit_member_path(@member), class: "btn btn-outline-primary" %>
  </div>


  <div class="row info-block">
    <h3>Visit record</h3>
    <table class="table table-hover">
      <tr>
        <th>Partner ID</th>
        <th>Partner Name</th>
        <th>Date</th>
        <th colspan="3"></th>
      </tr>

      <% @member.visits.each do |visit| %>
        <tr>
          <td>
            <%= visit.partner_id %>
          </td>
          <td>
            <%= Partner.find(visit.partner_id).name %>
          </td>
          <td>
            <%= visit.visit_date %>
          </td>
          <td><%= link_to 'Delete', visit, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-outline-danger" %></td>
        <tr>
      <% end %>
    </table>
  </div>

  <div class="row info-block">
    <h3>Discount rates offer by <u><%= @member.card_type.type_name%></u> card</h3>
    <table class="table table-hover">
      <tr>
        <th>Partner Name</th>
        <th>Discount Rate</th>
        <th colspan="3"></th>
      </tr>

      <% Partner.all.each do |partner| %>
        <% if partner.has_discount_rate_of_card_type? @member.card_type.id %>
          <tr>
            <td>
              <%= partner.name %>
            </td>
            <td>
              <%= partner.discount_rate_of_card_type(@member.card_type.id).discount_rate.round(2)*100 %>%
            </td>
          <tr>
        <% end %>
      <% end %>

    </table>
  </div>
</div>